# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/.gitignore
.idea/hotswap_agent.xml
.idea/modules.xml
.idea/my-app.iml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/1/e/1e43fa63aecd2127be034b3fb9d4caa172275714
.idea/sonarlint/issuestore/4/2/42e89cd2213b9d5dfae4f63522702c623170d792
.idea/sonarlint/issuestore/6/b/6bdf93786cdfced6f21538777ebe291b50379ffe
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/a/a/aa7165aefcf8ee3d73539e99ab007daf1aa18d8d
.idea/sonarlint/issuestore/d/1/d1eb1e252fd507134cfc95e08757d087da9b650a
.idea/sonarlint/issuestore/d/3/d3c01e0eb45b21f04df299e8ee8f58367e722e66
.idea/sonarlint/issuestore/f/4/f43ecdf8d666ee908aacce037b4cd72159e4741b
.idea/sonarlint/issuestore/f/9/f900edc44cb929c2267a16100a32851f6d5b477d
.idea/sonarlint/
