.content {
    background-color: grey;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages .dialogMyMsg {
    padding: 1px;
    text-align: left;

}

.messages .dialogRecipientMsg {
    padding: 1px;
    text-align: right;
}

.dialogsItems .active {
    color: indigo;
}

.messages {
    padding: 10px;
    width: 200px;
}

.sendNewMessageForm{
    width: 400px;
}

.messages .message {

}